@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
*{
    font-family: "Sedgwick Ave Display", cursive;
}
body{
    height: 100%;
    margin: 0;
    background-color: black;
    
};
.bgHome{
  display: flex;
  justify-content: center;
   position: absolute;
  opacity: 0.3;
}
.satauri1{
    color: #ffffff;
    font-size: 20px;
    margin-left: 15px;
}
.navLinks {
    display: flex;
    justify-content: space-between;
    width: 500px;

 }

 nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
 }
 .navLinks a {
    font-size: 18px;
    text-decoration: none;
    color: #a09b9b;
    margin-top: 30px;
    z-index: 1;
 }
 .navLinks a:hover{
   color: rgb(88, 31, 68);
   cursor: pointer;
 }
 .Homepic{
    display: flex;
    margin-top: 100px;
    margin-left:8%;
    color: #a09b9b;
    font-size: 40px;
 }
 #satauri1{
    margin-left: 200px;
    text-shadow:#5a5151 4px 3px 2px;
 }
 .hometxt{
    color: #5a5151;
    text-align: center;
    background-color: rgb(143, 143, 141);
    font-size: 30px;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
 }
 .icons1{
   display: grid;
   grid-template-columns: auto auto;
   grid-gap:70px;
   margin-left: 400px;
 }
 .container1 {
   display: grid;
   grid-template-columns: auto auto auto;
   grid-gap:70px;
   margin-left: 50px;
   margin-top: 200px;
}


 button:hover {
   background-color: rgb(88, 31, 68);
   cursor: pointer;
 }
.findFrnds{
   color: #5a5151;
   text-align: center;
}
.how-it-works{
   color: #a09b9b;
}
.satauri2 {
   color: #a09b9b;
   margin-left: 30px;
}
.footerinput{
   margin-right: 60%;
   margin-top: 20px;
}
.socialmedia {
   display: flex;
   justify-content: space-between;
   align-items: center;
   grid-gap: 20px;
   margin-right:30px
}
footer {
   display: flex;
   justify-content: space-between;
   background-color:rgb(33, 39, 39);
}
.splide__slide{
   text-align: center;
   
}

 
 #cookies-notification {
   background-color: #f0f0f0;
   padding: 10px 20px;
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 
 #cookies-notification p {
   margin: 0;
 }
 
 #cookies-notification a {
   color: blue;
   text-decoration: none;
 }
 
 .hidden {
   display: none;
 }
 #accept-cookies{
   margin-right: 50px;
 }
 
 .accordion {
   background-color: #eee;
   color: #444;
   cursor: pointer;
   padding: 18px;
   width: 100%;
   border: none;
   text-align: left;
   outline: none;
   font-size: 25px;
   transition: 0.4s;
   margin-top: 50px;
 }
 
 .active, .accordion:hover {
   background-color: #ccc;
 }
 
 .accordion:after {
   content: '\002B';
   color: #777;
   font-weight: bold;
   float: right;
   margin-left: 5px;
 }
 
 .panel {
   padding: 0 18px;
   color: #a09b9b;
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.2s ease-out;
   font-size: 20px;
 }

.abustxt{
   text-align: center;
   color: #000000;
   font-size: 30px;
   text-shadow:#fff7f7 4px 4px 4px;
}
 .span{
   color: #a09b9b;
   font-size: 25px;
 }
 #Firstletter{
   color: red;
   font-size: 50px;
 }
 .txtabus2{
   text-align: center;
   color: #000000;
   font-size: 30px;
   text-shadow:rgb(192, 99, 239) 2px 2px 2px; 
}
.signinH{
   color: #a09b9b;
   text-align: center;
   font-size: 40px;
}



 .signup1{
   justify-content: space-between;
   text-align: center;
   display: inline-flex;
   margin-left: 200px;
 }